h1
{
	color: green;
}

li
{
	color: blue;
}

.favoriteBand
{
	font-weight: bold;
}

#depeche-mode
{
	font-style: Verdana;
	font-size: 24pt;
	color: orange;
	text-decoration: underline;
}

#metallica
{
	color: purple;
}